
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Upload Form</title>
  <meta name="description" content="form to upload a new quote">
  <meta name="author" content="Robert Ichim">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

  <form method="post" action="/uploadfiles" enctype="multipart/form-data">
  <label>Author:
  <input type="text" name="author" />
  </label>
  <label>file: <input type="file" name="myfile" multiple />
  </label>
  <label>Quote: 
  <textarea name="quote"></textarea>
  </label>
  <input type="submit" />
  </form>
</body>
</html>

