
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Upload Form</title>
  <meta name="description" content="form to upload a new quote">
  <meta name="author" content="Robert Ichim">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

  <form method="post" action="/upload" enctype="multipart/form-data">
	 <h1>Upload a file from local directory:  </h1>
  <label>file: <input type="file" name="myfile" multiple /> 
							 <hr>
							 <input type="submit" />
  </label>
  </form>
	<h2><a href="/secure">Secure Page</a></h2>
</body>
</html>
